<ENVELOPE>
    <HEADER>
        <VERSION>1</VERSION>
        <TALLYREQUEST>Export</TALLYREQUEST>
        <TYPE>Data</TYPE>
        <ID>MyTallyLiveReport</ID>
    </HEADER>
    <BODY>
        <DESC>
            <STATICVARIABLES>
                <SVEXPORTFORMAT>$$SysName:XML</SVEXPORTFORMAT>
                <SVFROMDATE>{{ fromDate | formatDate("d-MMM-yyyy") }}</SVFROMDATE>
                <SVTODATE>{{ toDate | formatDate("d-MMM-yyyy") }}</SVTODATE>
                {% if targetCompany %}
                <SVCURRENTCOMPANY>{{ targetCompany | escape }}</SVCURRENTCOMPANY>
                {% endif %}
            </STATICVARIABLES>
            <TDL>
                <TDLMESSAGE>
                    <REPORT NAME="MyTallyLiveReport">
                        <FORMS>MyForm</FORMS>
                    </REPORT>
                    <FORM NAME="MyForm">
                        <PARTS>MyPart01</PARTS>
                        <XMLTAG>DATA</XMLTAG>
                    </FORM>
                    <PART NAME="MyPart01">
                        <LINES>MyLineOp,MyLineCl</LINES>
                    </PART>
                    <LINE NAME="MyLineOp">
                        <FIELDS>FldDateOp,FldVoucherTypeOp,FldAmountOp</FIELDS>
                        <XMLTAG>ROW</XMLTAG>
                    </LINE>
                    <LINE NAME="MyLineCl">
                        <FIELDS>FldDateCl,FldVoucherTypeCl,FldAmountCl,FldPrimaryGroupCl,FldIsIntegratedCl,FldIsRevenueCl</FIELDS>
                        <XMLTAG>ROW</XMLTAG>
                    </LINE>
                    <FIELD NAME="FldDateOp">
                        <SET>##SVFromDate</SET>
                        <XMLTAG>date</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldVoucherTypeOp">
                        <SET>"Opening"</SET>
                        <XMLTAG>voucher_type</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldAmountOp">
                        <SET>if $$IsDebit:$OpeningBalance:Ledger:"{{ ledgerName }}" then -$$NumValue:$OpeningBalance:Ledger:"{{ ledgerName }}" else $$NumValue:$OpeningBalance:Ledger:"{{ ledgerName }}"</SET>
                        <XMLTAG>amount</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldDateCl">
                        <SET>##SVToDate</SET>
                        <XMLTAG>date</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldVoucherTypeCl">
                        <SET>"Closing"</SET>
                        <XMLTAG>voucher_type</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldAmountCl">
                        <SET>if $$IsDebit:$ClosingBalance:Ledger:"{{ ledgerName }}" then -$$NumValue:$ClosingBalance:Ledger:"{{ ledgerName }}" else $$NumValue:$ClosingBalance:Ledger:"{{ ledgerName }}"</SET>
                        <XMLTAG>amount</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldPrimaryGroupCl">
                        <SET>$_PrimaryGroup:Ledger:"{{ ledgerName }}"</SET>
                        <XMLTAG>primary_group</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldIsIntegratedCl">
                        <SET>$IsIntegrated:Company:##SVCurrentCompany</SET>
                        <XMLTAG>is_integrated</XMLTAG>
                    </FIELD>
                    <FIELD NAME="FldIsRevenueCl">
                        <SET>$IsRevenue:Ledger:"{{ ledgerName }}"</SET>
                        <XMLTAG>is_revenue</XMLTAG>
                    </FIELD>
                </TDLMESSAGE>
            </TDL>
        </DESC>
    </BODY>
</ENVELOPE>